<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Show</title>
</head>

<body>
    <h1><%= restaurant.name %></h1>
    <h2><%= restaurant.location %></h2>
    <a href="/restaurants">Go back to all the restaurants</a>

    <div>
        <a href="/restaurants/<%=restaurant.id%>/edit">Edit <%= restaurant.name %> </a>
    </div>
    <form action="/restaurants/<%=restaurant.id%>/delete?_method=DELETE" method="POST">
        <button>Delete Restaurant</button>
    </form>
</body>

</html>